@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 50px;
}

img {
    width: 700px;
    padding: 20px;
}

.row{
    display: inline;
    padding: 5px;
    width: 1000px;
    height: 370px;
}

.row img{
    width: 600px;
}

/* Voeg jouw css hieraan toe */